@using CharterERP.Backend.Domain.Entities
@model IEnumerable<Dealer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div> 

        @foreach (var d in Model)
        {
            <div>
                <h3>@d.Name</h3>
            </div>
        }

    </div>
</body>
</html>
